<ion-view view-title="Welcome">
    <ion-content scroll="false">
        <div class="row">
            <div class="col">
                <a class="button button-block icon-left ion-social-facebook"> Facebook </a>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col">
                <a class="button button-block" ui-sref="signin">Sign In</a>
            </div>
            <div class="col">
                <a class="button button-block" ui-sref="signup">Sign Up</a>
            </div>
        </div>
    </ion-content>
</ion-view>